<h1>For you</h1>
<% @woofs.each do |woof| %>
  <p><%= woof.user.name %></p>
  <img src="<%= woof.user.image %>"class ="logo">
  <p> <%= woof.text %></p>
  <p> <img src="<%= woof.image%>" %></p>
<% end %>


<h4><a href="/woofs/new"> Compose </a></h4>
<style>
.logo {
width: 50px;
height: 50px;
border-radius: 50%;
}
</style>

