<h1>Write a woof</h1>
<form method="post" action="/woofs">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  


  <div>
  <label>text </label>
  <input type="text" name="woof[text]">
</div>


<div>
<label>image </label>
<input type="text" name="woof[image]">
</div>

<div>
<input type="submit" value="Create woof">
</div>

</form>
